APP_NAME=LogiTracks API
APP_VERSION=0.6.0
APP_ENV=development
DATABASE_URL=postgresql+psycopg://logitracks:logitracks@localhost:5432/logitracks
LOG_LEVEL=INFO
CORS_ORIGINS=["http://localhost:8080","http://localhost:4173"]
JWT_SECRET_KEY=change-me-stage6
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=480
